# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pipenv
Pipfile.lock

# virtualenv
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code
.vscode/

# Shell scripts
*.sh~
*.bash_history
*.zsh_history

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# CSV files
*.csv
bandit-report.json
